@charset "utf-8";

/* .btn- */
.btn-rotate {
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  /* background-color: red; */
  transition: rotate .6s;
  transform-style: preserve-3d;
}

.btn-not,
.btn-not2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 8px;
    background: red;
    color: #fff;
}


.btn-not2 {
    background-color: #05b;
    rotate: x 180deg;
}
.btn-rotate:hover {
  rotate: x 180deg;
}