@charset "utf-8";

/* .btn- */
.btn-rotate {
  position: relative;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  background-color: #0bd;
  transition: rotate .6s;
  transform-style: preserve-3d;
}

.btn-rotate-front,
.btn-rotate-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 8px;
}

.btn-rotate-back {
    background-color: #05b;
    rotate: x 180deg;
}
.btn-rotate:hover {
  rotate: x 180deg;
}

.btn-container {
  position: relative;
}

.btn-circle {
    position: absolute;
    width: 180px;
    height: 180px;
    color: #fff;
    background: transparent;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

.btn-circle::before,
.btn-circle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

.btn-circle::before {
    background: #0bd;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    animation: border-animation 6s infinite linear;
}

.btn-circle::after {
    background: #f3a;
    border-radius: 70% 40% 50% 50%/50%;
    animation: border-animation 4s infinite linear;
}

@keyframes border-animation {
    to { rotate: 360deg; }
}

/*高速回転のクラス*/
.btn-circle.fast-spin::before,
.btn-circle.fast-spin::after {
    animation-duration: .4s;
}